.df {
  display: flex;
}

.jcb {
  justify-content: space-between;
}

.jca {
  justify-content: space-around;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.aife {
  align-items: flex-end;
}

.fww {
  flex-wrap: wrap;
}

.fdc {
  flex-direction: column;
}