$bg-color: #eee;
$p-color: #36b2e7;

$label-color: #2e3438;
$label-font-size: 18pt;

$caption-color: #2e3438;
$caption-font-size: 10pt;

$inactive-color: #9b9b9b;

$green-highlight-color: #00ff17;

$conn-log-color: #3db8c2;
$conn-history-color: #a8dfe4;

$conn-state-color: #a8dfe4;

$dns-color: #45559c;

$http-color: #003d71;

$dce-rpc-color: #939393;

$ntlm-color: #6785a0;

$rdp-color: #002562;

$smb-files-color: #00aec4;

$smb-mappings-color: #004ea2;

$grey-medium: #d8d8d8;
$grey-dark: #979797;