.zc {

	&-body {
	padding: 40px 0;

		&-row {
			width: 95%;
			margin: 0 auto;

			@include min768 {
				width: 100%;
			}
		}
	}

	&-item {
		width: 48%;

		@include min992 {
			max-width: 31%;
		}

		&-img {
			display:none;
			max-width: 100%;

			@include min768 {
				display: block;
			}
		}

		&-cheatsheets {

			&-spread {
				width: 100%;
			}
		}

		&-card {
			display: block;
			width: 100%;
			margin: 0 auto;
			height: 200px;
			box-shadow: 0 2px 4px 0 #9B9B9B;
			cursor: pointer;

			@include min768 {
				display: none;
			}

			&-text {
				height: 100%;
				padding: 0  10px;
			}

			&-label {
				color: $label-color;
				font-size: $label-font-size;
			}

			&-caption {
				color: $caption-color;
				font-size: $caption-font-size;
			}

			&-bottom {
				bottom: 0;
				width: 100%;
				height: 15px;

				&.conn {
					background-color: $conn-log-color;

					&-history {
						background-color: $conn-history-color;
					}

					&-state {
						background-color: $conn-state-color;
					}
				}

				&.dns {
					background-color: $dns-color;
				}

				&.http {
					background-color: $http-color;
				}

				&.dce {

					&-rpc {
						background-color: $dce-rpc-color;
					}
				}

				&.ntlm {
					background-color: $ntlm-color;
				}

				&.rdp {
					background-color: $rdp-color;
				}

				&.smb {

					&-files {
						background-color: $smb-files-color;
					}

					&-mappings {
						background-color: $smb-mappings-color;
					}
				}
			}
		}
	}
}